/* ! TODO: PRIVACY START */

.privacy__top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.privacy__title {
    margin-top: 25px;
    font-weight: 500;
    font-size: 45px;
    line-height: 48px;
    letter-spacing: 0%;
    margin-bottom: 50px;
}

.container1__title,
.container2__title,
.container3__title,
.container4__title,
.container5__title,
.container6__title,
.container7__title {
    margin-top: 30px !important;
    margin-bottom: 15px !important;
}

.container1__text,
.container2__text,
.container3__text,
.container4__text,
.container5__text,
.container6__text,
.container7__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
}

.privacy__link {
    color: #FF6915;
    font-weight: 700;
}

/* ! FIXME: PRIVACY END */