@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "PT Sans", sans-serif;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

input,
textarea,
select,
button,
label {
    border: none;
    outline: none;
    background: none;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1360px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 718px;
        padding: 0 15px;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        max-width: 380px;
        padding: 0 10px;
    }
}